table, th, td {
	border: 1px solid var(--color-white);
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

img {
	margin: 10px auto 20px;
	max-width: 100%;
	display: block;
}

.separator {
	text-align: center;
	color: var(--color-red);
}

.article {
	header{
		text-align: center;
			h1 {
				color: var(--color-white);
			}
			
			p {
				font-size: small;
			}
	}
	strong{
		color: var(--color-light-blue);
	}
}

.astro-code {
	padding: 10px;
	box-shadow: 0 0 5px var(--color-green);
}