---
import MetaHead from "@comps/MetaHead.astro";
import Header from "@comps/Header.astro";
import Footer from "@comps/Footer.astro";
import Styles from "@comps/styles/Styles.astro";
import type { Frontmatter } from "@models/fontmatter";

const PERMALINK = "https://frenchtechlead.com/privacy-policy";
const IMG_SRC = "https://frenchtechlead.com/assets/blog/blog-cover.avif";

const fm: Frontmatter = {
  layout: "",
  title: "FrenchTechLead - The Tech Leaders Community",
  description:
    "FrenchTechLead is a blog about Software Engineering and Web Development, written by a team of Experienced Entrepreneurs.",
  authorID: "akram_mecheri",
  keywords: [
    "Tech Blog",
    "Software Engineering",
    "Cloud Computing",
    "OOP",
    "Reactive Programming",
    "Functional Programming",
    "OSS",
    "DevOps",
  ],
  tags: [],
  lang: "fr",
  draft: false,
};
---

<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
  <head>
    <MetaHead frontmatter={fm} permalink={PERMALINK} imgSrc={IMG_SRC} />
    <Styles />
    <style>
      label,
      input,
      textarea {
        display: block;
        margin-bottom: 1rem;
        width: 100%;
      }
      input {
        height: 30px;
      }
      textarea {
        min-height: 200px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main class="container">
      <div class="modal position-static d-block">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">Nous contacter</h1>
            </div>
            <form action="https://submit-form.com/FIV9Qtla">
              <div class="modal-body">
                <label for="name">Name</label>
                <input
                  class="form-control"
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Name"
                  required=""
                />
                <label for="email">Email</label>
                <input
                  class="form-control"
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Email"
                  required=""
                />
                <label for="message">Message</label>
                <textarea
                  class="form-control"
                  id="message"
                  name="message"
                  placeholder="Message"
                  required=""></textarea>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-secondary">Envoyer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
