---
import type { Frontmatter } from "@models/fontmatter";

export interface Props {
  frontmatter: Frontmatter;
  url: string;
}
const props = Astro.props;
const frontmatter = Astro.props.frontmatter;
---

<a
  href={props.url}
  class="list-group-item list-group-item-action"
  aria-current="true"
>
  <div class="d-flex w-100 justify-content-between">
    <h3 class="mb-1">{frontmatter.title}</h3>
    <small>{frontmatter.publishDate}</small>
  </div>
  <p class="mb-1">{frontmatter.description}</p>
  <small>And some small print.</small>
</a>
