---
export interface Props {
  title: string;
  publishDate: string;
}

const { title, publishDate } = Astro.props;
const date = new Date(publishDate);
---

<article class="article">
  <header class="pt-5">
    <h1>{title}</h1>
    <p>
      <time datetime={publishDate}>{date.toDateString()}</time>
    </p>
  </header>
  <main class="container">
    <slot />
  </main>
</article>
