---
import Author from '@comps/Author.astro';

const { title, publishDate, alt } = Astro.props;
---

<div class="layout">
	<article class="content">
		<div>
			<header>
				<p>{publishDate}</p>
				<h1>{title}</h1>
				<Author name="@FrenchTechLead" href="https://twitter.com/FrenchTechLead" />
			</header>
			<main>
				<slot />
			</main>
		</div>
	</article>
</div>