---
const props  = Astro.props ;
---
<a href={props.url}>
	<article >
		<header>
			<div >{props.post.title}</div>
		</header>
		<p>{props.post.description}</p>
		<time datetime={new Date(props.post.publishDate).toISOString()}>{props.post.publishDate}</time>
	</article>
</a>