<div style="background-color:brown; color:white; position:fixed; top:0px; font-size:3rem;">
    <div class="_0-800" style="display: none;"> 0 - 800</div>
    <div class="_801-1600" style="display: none;">801 - 1600</div>
    <div class="_1601-2400" style="display: none;">1601 - 2400</div>
    <div class="_2401-9999" style="display: none;">2401 - 9999</div>
</div>