---
const links = [
  {
    text: "Blog",
    link: "/blog/_index",
  },
  {
    text: "Tools",
    link: "https://tools.frenchtechlead.com",
  },
  {
    text: "Nous contacter",
    link: "/contact-us",
  },
  {
    text: "Confidentialité",
    link: "/privacy-policy",
  },
];
---

<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <div
          class="p-2 text-primary rounded"
          style="background-color: var(--color-black-foreground);"
        >
          <span
            style="color: var(--color-black); background: var(--color-yellow); text-shadow: none; font-weight: bold;"
            >French</span
          ><span
            style="color: var(--color-white);text-decoration: none;text-shadow: 0 0 20px var(--color-white);font-weight: bold;"
            >TechLead</span
          >
        </div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          {
            links.map((a) => (
              <li class="nav-item">
                <a href={a.link} class="nav-link">
                  {a.text}
                </a>
              </li>
            ))
          }
          <li class="nav-item">
            <a href="#" class="nav-link" onclick="return toggleTheme()"
              ><i id="theme-icon" class="fa-solid fa-moon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <script is:inline>
    const DARK = "dark";
    const LIGHT = "light";
    const themeIcon = document.querySelector("#theme-icon");
    const theme = window.localStorage.getItem("theme");

    window
      .matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", (event) => {
        const newColorScheme = event.matches ? DARK : LIGHT;
        newColorScheme === DARK ? setDarkTheme() : setLightTheme();
      });

    if (theme) {
      theme === DARK ? setDarkTheme() : setLightTheme();
    } else {
      if (
        window.matchMedia &&
        window.matchMedia("(prefers-color-scheme: dark)").matches
      ) {
        setDarkTheme();
      } else {
        setLightTheme();
      }
    }

    function toggleTheme() {
      const theme = window.localStorage.getItem("theme");
      if (theme === DARK) {
        setLightTheme();
      } else {
        setDarkTheme();
      }
      return false;
    }

    function setDarkTheme() {
      document.documentElement.setAttribute("data-bs-theme", DARK);
      window.localStorage.setItem("theme", DARK);
      themeIcon.classList.remove("fa-moon");
      themeIcon.classList.add("fa-sun");
      toggleRocketImage(DARK);
    }

    function setLightTheme() {
      document.documentElement.setAttribute("data-bs-theme", LIGHT);
      window.localStorage.setItem("theme", LIGHT);
      themeIcon.classList.remove("fa-sun");
      themeIcon.classList.add("fa-moon");
      toggleRocketImage(LIGHT);
    }

    function toggleRocketImage(theme) {
      const rocketImage = document.querySelector("#rocket");
      if (rocketImage) {
        rocketImage.setAttribute("src", "/assets/rocket-" + theme + ".webp");
      } else {
        setTimeout(() => {
          const rocketImage = document.querySelector("#rocket");
          rocketImage.setAttribute("src", "/assets/rocket-" + theme + ".webp");
        }, 100);
      }
    }
  </script>
</header>
